/*
 * Estilos reutilizables
 */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.mayusculas{
	text-transform: uppercase;
}
.negrita{
	font-weight: 700;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.row {
	clear: both;
	width: 100%;
}
.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	 min-height: 7px;
	 float: left;
	 padding: 12px;
}
.estrella-blanca {
	display: block;
	width: 230px;
	height: 5px;
	background-color: #fff;
	left: 0;
	right: 0;
	margin: 1em auto;
	position: relative;
	color: white;
}
.estrella-blanca:after {
	content: "\f005";
    font-family: 'FontAwesome';
    background-color: #18BC9C;
    width: 1.5em;
    overflow: hidden;
    height: 1em;
    position: absolute;
    text-align: center;
    font-size: 150%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -.5em;
}
.estrella-negra {
	display: block;
	width: 230px;
	height: 5px;
	background-color: black;
	left: 0;
	right: 0;
	top: 70px;
	margin: 1em auto;
	position: relative;
	color: black;
}
.estrella-negra:after {
	content: "\f005";
    font-family: 'FontAwesome';
    background-color: #fff;
    width: 1.5em;
    overflow: hidden;
    height: 1em;
    position: absolute;
    text-align: center;
    font-size: 150%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -.5em;
}
/*Columnas*/
.col-1{
	/*(1/12)*100*/
	width: 8.333333%;
}

.col-2{
	/*(2/12)*100*/
	width: 16.666667%;
}

.col-3{
	/*(3/12)*100*/
	width: 25%;
}

.col-4{
	/*(4/12)*100*/
	width: 33.333333%;
}

.col-5{
	/*(5/12)*100*/
	width: 41.666667%;
}

.col-6{
	/*(6/12)*100*/
	width: 50%;
}

.col-7{
	/*(7/12)*100*/
	width: 58.333333%;
}

.col-8{
	/*(8/12)*100*/
	width: 66.666667%;
}

.col-9{
	/*(9/12)*100*/
	width: 75%;
}

.col-10{
	/*(10/12)*100*/
	width: 83.333333%;
}

.col-11{
	/*(11/12)*100*/
	width: 91.666667%;
}

.col-12{
	/*(12/12)*100*/
	width: 100%;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}